<h1>List of Movies</h1>

<h4>
  <ul>
    <% @movies.each do |movie| %>
      <li>Votes</li>
      <li>Title <%= link_to movie.title, work_path(movie.id) %></li>
      <li>Created By <%= movie.creator %></li>
      <li>Published <%= movie.publication_year %></li>
    <% end %>
  </ul>

  <h2><%= link_to "View all media", works_path %></h2>
  <h2><%= link_to "Add a new movie", new_movie_path %></h2>
</h4>
