<ul class="error">
  <% @work.errors.each do |field, msg| %>
  <li>
    <%= field %> <%= msg %>
  </li>
  <% end %>
</ul>

<%= form_for @work, url: form_url , method: form_method do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :creator %>
  <%= f.text_field :creator %>

  <%= f.label :publication_year %>
  <%= f.text_field :publication_year %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.submit nil, class: "button" %>
<% end %>
