<h1>Book List</h1>

<h4>
  <ul>
    <% @books.each do |book| %>
      <li>Votes</li>
      <li>Title <%= link_to book.title, work_path(book.id) %></li>
      <li>Created By <%= book.creator %></li>
      <li>Published <%= book.publication_year %></li>
    <% end %>
  </ul>

  <h2><%= link_to "View all media", works_path %></h2>
  <h2><%= link_to "Add a new book", new_book_path %></h2>
</h4>
