<h3>List of Albums</h3>

<table>
  <thead>
    <tr>
      <th width="80">Votes</th>
      <th>Title</th>
      <th>Created By</th>
      <th width="100">Published</th>
      <th width="100">Upvote</th>
    </tr>
  </thead>
  <tbody>
    <% @albums.each do |album| %>
    <tr>
      <td>#</td>
      <td><%= link_to album.title, work_path(album.id) %></td>
      <td><%= album.creator %></td>
      <td><%= album.publication_year %></td>
      <td>Upvote</td>
    </tr>
    <% end %>
  </tbody>
</table>

<h2><%= link_to "View all media", works_path %></h2>
<h2><%= link_to "Add a new album", new_album_path %></h2>
