<h1>List of Albums</h1>

<h4>
  <ul>
    <% @albums.each do |album| %>
      <li>Votes</li>
      <li>Title <%= link_to album.title, work_path(album.id) %></li>
      <li>Created By <%= album.creator %></li>
      <li>Published <%= album.publication_year %></li>
    <% end %>
  </ul>

  <h2><%= link_to "View all media", works_path %></h2>
  <h2><%= link_to "Add a new album", new_album_path %></h2>
</h4>
